<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/index.css">

    <title>Corrupt</title>

    <link rel="icon" href="../static/logo/favicon.png" type="image/png">

</head>

<body>

    <main>

        <div id="init">

            <img src="../static/logo/logo.png" alt="Logo" width=175 height=175>

            <h3>“ Stop corrupting yourself ” - ?</h3>

        </div>

        <form>

            <p>Sign In</p>

            <label for="username">Username</label>

            <input type="text" id="username" name="username" placeholder="Enter your username" required>

            <label for="password">Password</label>

            <input type="password" id="password" name="password" placeholder="Enter your password" required>

            <button type="button" id="btEnter">Enter</button>

            <a href="#">Forgot your password?</a>

            <a href="/register">Create an account</a>

        </form>

    </main>

    <footer>

        <a href="#">About</a>
        
        <a href="#">Developer</a>

    </footer>

    <script type="module" src="../static/js/index.mjs"></script>
    
</body>

</html>